body {
  padding: 30px;
}

#textareainput {

  width: 500px;
  height: 100px;
  font-size: 13px;

}

#textareaoutput {

  width: 500px;
  height: 100px;
  font-size: 13px;

}

#titlelogo {
  font-size:27px;
  margin:40px;
}
