body {
  padding: 30px;
}

#textareainput {

  width: 400px;
  height: 160px;
  font-size: 13px;

}

#textareaoutput {

  width: 400px;
  height: 140px;
  font-size: 13px;

}

#titlelogo {
  font-size:27px;
  margin:40px;
}
